name: Golang build and release

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Release Tag'
        required: true
        default: 'v0.0.0'

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}

    if: ${{ !contains(github.event.head_commit.message, 'dev') }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        go: ["1.23.6"]
        goos: [linux]
        goarch: [amd64]

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Go environment
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      # Download dependencies
      - name: Download Go modules
        env:
          CGO_ENABLED: 0
        run: |
          go mod download

      # Build the binaries
      - name: Build binaries
        env:
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
          GOOS: ${{ matrix.goos }}
        run: |
          go build -o dist/PalworldServerConfigParser-${{ matrix.goos }}-${{ matrix.goarch }}
          chmod 755 dist/*

      # Verify build output
      - name: Verify build output
        run: |
          if [ ! -f "dist/PalworldServerConfigParser-${{ matrix.goos }}-${{ matrix.goarch }}" ]; then
            echo "Build output is missing!"
            exit 1
          fi
          echo "Build completed successfully."

      # Upload dist folder as an artifact
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: PalworldServerConfigParser-${{ matrix.goos }}-${{ matrix.goarch }}
          path: dist/PalworldServerConfigParser-${{ matrix.goos }}-${{ matrix.goarch }}
          retention-days: 5
